# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# IDE
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.DS_Store